/* Signup */
.container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* Full height */
}

.left {
  flex: 0 0 60%;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  padding: 36px 40px 5px 40px;
  box-sizing: border-box;
  box-sizing: border-box;
}

.logo-img {
  margin-top: 0px;
  margin-bottom: 20px;
  align-self: flex-start;
  width: 130px;
  height: 30px;
}

.form-1 {
  margin-left: 140px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.form-1 h1 {
  /* margin: 0 0 1px 18.2px; */
  margin-left: 4px;
  margin-bottom: 0px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #332D2D;
}

.form-1 h3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gilroy-SemiBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #A6A6A6;
}

.email-box-1 {
  margin-left: 140px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.email-label {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gilroy-Medium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #332D2D;
}

.email-input {
  border-radius: 2px;
  border: 1.3px solid #9d9393;
  padding: 5px 10.5px;
  width: 240px;
}

.email-input::placeholder {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 2px;
  color: var(--neutral-800, #191D23);
}

.left .button {
  border-radius: 4px;
  border: 2px solid #E30613;
  cursor: pointer;
  background: #E30613;
  margin-left: 140px;
  margin-top: 16px;
  display: flex;
  padding: 8px 0;
  width: 264px;
  box-sizing: border-box;
}

.left .button:active {
  border: 2px solid #e75c65;
  background: #e75c65;
}

.left .get-verification-code {
  overflow-wrap: break-word;
  margin-left: 80px;
  font-family: 'Gilroy-SemiBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.left .or-line {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.left .or {
  margin-top: 16px;
  padding-left: 4px;
  padding-right: 4px;
  overflow-wrap: break-word;
  font-family: 'Gilroy-SemiBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #A6A6A6;
}

.or-line .line-1 {
  margin-left: 140px;
  background: #CED0CE;
  margin-top: 24px;
  width: 120px;
  height: 1px;
}

.or-line .line-2 {
  background: #CED0CE;
  width: 124px;
  margin-top: 24px;
  height: 1px;
}

.left .button-1 {
  border-radius: 4px;
  border: 1.5px solid #e30613;
  cursor: pointer;
  background: #ffffff;
  margin-left: 140px;
  margin-top: 16px;
  display: flex;
  padding: 8px 0;
  width: 264px;
  box-sizing: border-box;
}

.left .button-1:active {
  border: 1.5px solid #e30613;
  background: #d9d9d975;
}

.left .button-1-text {
  text-align: center;
  margin-left: 24%;
  font-family: 'Gilroy-SemiBold', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  color: #E30613;
}

.left .p-1 {
  margin-left: 190px;
  margin-top: 80px;
  font-size: 10px;
}

.left .p-1 a {
  text-decoration: underline;
  color: red;
  font-weight: 600;
  background: white;
  border: none;
  font-size: 10px;
  margin-left: 2px;
}

.left .p-2 {
  font-family: 'Poppins';
  color: #a6a6a6;
  font-weight: 500;
  margin-left: 135px;
  margin-top: 30px;
  margin-bottom: 16px;
  font-size: 8px;
}

.left .copyright-text {
  margin-left: 170px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  color: #C0BBBB;
}


.right {
  flex: 0 0 40%;
  margin-right: 0px;
  background-color: #ffdcdc;
  /* Darker grey background */
  padding: 20px;
  box-sizing: border-box;
}

.right .quote-img{
  height: 30px;
  width: 30px;
  rotate: 180deg;
  margin-top: 38%;
  margin-left: 12%;
}

.right .right-text-1{
  margin: 8px 30px 32px 70px;
  /* display: inline-block; */
  overflow-wrap: break-word;
  font-family: 'Gilroy-SemiBold', 'Roboto Condensed';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.507;
  color: #FE6062;
}

.right .right-text-1 .p-text{
  margin: 12px 30px 32px 0px;
  /* display: inline-block; */
  overflow-wrap: break-word;
  font-family: 'Gilroy-SemiBold', 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.507;
  color: #FE6062;
}

.right .icon-socials{
  display: flex;
  margin-top: 180px;
  margin-left: 120px;
}

.right .icon-socials .icon-img{
  padding: 0px 16px 0px 16px;
  width: 20px;
  height: 20px;
}